.container {
  border-radius: 30px;
  padding: 40px;
  background-color: black;
  color: white;
  width: 20%;
  min-width: 230px;
  max-width: 250px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_con {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
.card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  background-color: white;
}
.card_text {
  padding-top: 20px;
  font-size: 0.8rem;
}

.graph_con {
  padding: 30px;
  margin: 20px 0px;
  background-color: white;
  height: 280px;
  border-radius: 20px;
}
.box_con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box_card {
  padding: 20px 30px;
  background-color: white;
  width: 49%;
  border-radius: 20px;
  height: 165px;
}
.pie_chart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
}
.info {
  padding: 3px 0px;
  display: flex;
  flex-direction: row;
}
.info_text {
  margin-right: 10px;
  width: 3px;
  height: 45px;
}
.top {
  margin: 20px 0px;
  font-weight: 600;
  font-size: 2.5rem;
}
.aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside span {
  padding-right: 15px;
}
.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.link {
  margin: 15px 0px;
}
.footer {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
.footerContent {
  padding: 10px;
}

/* tablets*/

@media only screen and (max-width: 1130px) {
}

/* phones*/
@media only screen and (max-width: 870px) {
    .box_con{
        flex-direction: column;
    }
    .box_card{
       width: 100%; 
       margin-bottom:20px ;
       height: auto;
    }
    .card{
        margin: 0px 10px 10px 0px;
    }
  .card_con {
    display: grid;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: repeat(3, minmax(33%, auto));
  }
}
@media only screen and (max-width: 670px) {
  .card_con {
    grid-template-columns: repeat(2, minmax(50%, auto));
  }
}
