
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
:root {
  --border-radius:13px;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}
a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.graph-p   {
  font-weight: 700;
  font-size: 1rem;
}
.graph-p1 {
  font-weight : 600;
  font-size : 0.8rem;
  margin-bottom: 4px;
}
.dot {
  height: 10px;
  width: 10px;
  margin-right: 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dot1 {
  height: 30px;
  width: 30px;
  margin : 0;
  padding : 0;
  margin-left : 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dashboard-header {
  display : flex ;
  width : 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dashboard-header input {
  margin-right: 20px;
  border-radius: 5px;
  padding : 10px;
  outline : none ;
  border : none ;
  background-color: white;
  height : 30px;
}
.margin-right{
  margin-left: 30px;
}
.menubar-icon-header {  
  position : relative;
}
.head-font {
  display : none ;
}
@media only screen and (max-width: 1130px) {
  .menubar-icon-header {
      display : flex;
  }
  .head-font {
    display : block
  }
}
@media only screen and (max-width : 600px) {
  .topicon,.topIcon {
    display:none ;
  }
  .main-container{
    font-size: 1rem;
  }
}